.winbox {
    .__winbox_window {
        .__winbox_container {
            .__winbox_window.__winbox_checkbox {
                display: flex;
                flex-direction: row;

                > input {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                    margin: 0;
                    padding: 0;
                }

                > span {
                    flex: 0 0 auto;
                    display: flex;
                    align-items: center;
                    justify-content: normal;
                    width: 1.125rem;

                    img {
                        width: 0.8125rem;
                        height: 0.8125rem;
                        box-sizing: border-box;
                    }
                }

                > label.__winbox_window.__winbox_label {
                    flex: 1 1 auto;
                    position: relative;

                    > span {
                        position: relative;
                        top: 0.1875rem;
                    }
                }
            }
        }
    }
}
