#include <windows.h>

100 DIALOG 20, 20, 160, 90
STYLE WS_POPUP | WS_CAPTION | WS_VISIBLE
CAPTION "D"
BEGIN
  PUSHBUTTON "A", 11, 10, 10, 40, 14, WS_TABSTOP
  PUSHBUTTON "B", 12, 10, 30, 40, 14, WS_TABSTOP
  DEFPUSHBUTTON "C", 13, 10, 50, 40, 14, WS_TABSTOP
  EDITTEXT 14, 60, 10, 60, 12, WS_TABSTOP
END
